<!DOCTYPE html><html><head><title>更新内容汇总（2016-04-29）</title><meta charset='utf-8'><link href='https://dn-maxiang.qbox.me/res-min/themes/marxico.css' rel='stylesheet'><style>
.note-content  {font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;}

</style></head><body><div id='preview-contents' class='note-content'>
                        <div id="wmd-preview" class="preview-content"></div>
                    <div id="wmd-preview-section-1" class="wmd-preview-section preview-content">

</div><div id="wmd-preview-section-1179" class="wmd-preview-section preview-content">

<h1 id="更新内容汇总2016-04-29">更新内容汇总（2016-04-29）</h1>

<p></p>

<hr>

<div><div class="toc"><div class="toc">
<ul>
<li><a href="#更新内容汇总2016-04-29">更新内容汇总（2016-04-29）</a><ul>
<li><a href="#注意">注意</a></li>
<li><a href="#已修复内容汇总">已修复内容汇总</a><ul>
<li><a href="#实验室检测报告表">实验室检测报告表</a></li>
<li><a href="#商标纸卡不干贴表">商标纸卡不干贴表</a></li>
<li><a href="#辅料表">辅料表</a></li>
<li><a href="#面料花边表">面料花边表</a></li>
<li><a href="#任务列表界面">任务列表界面</a></li>
<li><a href="#系统配置">系统配置</a></li>
<li><a href="#报表统计">报表统计</a></li>
</ul>
</li>
<li><a href="#待修复问题汇总">待修复问题汇总</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>

<hr></div><div id="wmd-preview-section-644" class="wmd-preview-section preview-content">

<h2 id="注意">注意</h2>

<ul><li><strong>如果提交后的数据有问题，请联系王主管退回任务，退回后可在自己的任务列表查看到被退回的任务进行修改</strong></li>
<li><strong>任务创建时材料名称和供应商请用鼠标点击输入框后再输入文字进行搜索，否则会出现删除不掉文字的情况</strong></li>
<li><strong>如有搜索不到的材料名称或者供应商，请直接联系王主管解决</strong></li>
<li><strong>已修复的内容也可能仍然存在问题，一旦发现请及时与工程师或者王主管沟通</strong></li>
<li><strong>由于时间紧张和新系统初期问题较多，部分已反映问题可能没有在本次更新解决，但是最严重影响使用的问题基本都已经解决，次严重问题会放到下次更新修正，详情查看最下方「待修复问题汇总」</strong></li>
<li><strong>已反馈的问题此次更新没有修复并且没有存在于「待修复问题汇总」列表，请再次提醒工程师修复</strong></li>
<li><strong><code>新系统刚刚做好雏形，难免存在各种问题，为了让各位检验员使用更方便、快捷、准确，不仅需要工程师们的努力，更重要的是大量的测试和反馈沟通，因此麻烦大家耐心多多使用本系统并且及时反馈问题，谢谢合作。</code></strong></li>
</ul>

<hr></div><div id="wmd-preview-section-4" class="wmd-preview-section preview-content">

<h2 id="已修复内容汇总">已修复内容汇总</h2>

</div><div id="wmd-preview-section-5" class="wmd-preview-section preview-content">

<h3 id="实验室检测报告表">实验室检测报告表</h3>

<ul><li>实验室检测报告标准值两格改为一格</li>
</ul>

</div><div id="wmd-preview-section-1223" class="wmd-preview-section preview-content">

<h3 id="商标纸卡不干贴表">商标纸卡不干贴表</h3>

<ul><li>新增净重、克重列</li>
<li>商标表合格数默认实测数</li>
</ul></div><div id="wmd-preview-section-7" class="wmd-preview-section preview-content">

<h3 id="辅料表">辅料表</h3>

<ul><li>勾袢自动判定大小</li>
<li>添加克重单位</li>
</ul>

</div><div id="wmd-preview-section-1133" class="wmd-preview-section preview-content">

<h3 id="面料花边表">面料花边表</h3>

<ul><li>疵点显示问题修复</li>
<li>新增记分记点选择框</li>
<li>增加料样手感</li>
<li>增加滴水测试</li>
<li>疵点放到表格外查看</li>
<li>结论默认正常</li>
</ul></div><div id="wmd-preview-section-9" class="wmd-preview-section preview-content">

<h3 id="任务列表界面">任务列表界面</h3>

<ul><li>添加任务提交的提醒</li>
<li>管理员可退回检验员已提交任务</li>
</ul>

</div><div id="wmd-preview-section-10" class="wmd-preview-section preview-content">

<h3 id="系统配置">系统配置</h3>

<ul><li>增加到料总数单位配置界面</li>
</ul>

</div><div id="wmd-preview-section-11" class="wmd-preview-section preview-content">

<h3 id="报表统计">报表统计</h3>

<ul><li>供应商报表无数据的问题修复</li>
</ul>

<hr>

</div><div id="wmd-preview-section-1176" class="wmd-preview-section preview-content">

<h2 id="待修复问题汇总">待修复问题汇总</h2>

<div class="checklist"><div class="checklist-item"><input type="checkbox"> 面料表自动判定</div><div class="checklist-item"><input type="checkbox"> 根据检验员身份每张表步骤选择默认为检验员填写</div><div class="checklist-item"><input type="checkbox"> 物料名称或者供应商不点击输入框直接输入之后无法删除</div><div class="checklist-item"><input type="checkbox"> 辅料表快速创建任务自动填写默认内容</div></div></div><div id="wmd-preview-section-13" class="wmd-preview-section preview-content"></div><div id="wmd-preview-section-footnotes" class="preview-content"></div></div></body></html>