<!DOCTYPE html><html><head><title>更新内容汇总（2016-04-28）</title><meta charset='utf-8'><link href='https://dn-maxiang.qbox.me/res-min/themes/marxico.css' rel='stylesheet'><style>
.note-content  {font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;}

</style></head><body><div id='preview-contents' class='note-content'>
                        <div id="wmd-preview" class="preview-content"></div>
                    <div id="wmd-preview-section-4033" class="wmd-preview-section preview-content">

</div><div id="wmd-preview-section-5895" class="wmd-preview-section preview-content">

<h1 id="更新内容汇总2016-04-28">更新内容汇总（2016-04-28）</h1>

<p></p>

<hr>

<div><div class="toc"><div class="toc">
<ul>
<li><a href="#更新内容汇总2016-04-28">更新内容汇总（2016-04-28）</a><ul>
<li><a href="#注意">注意</a></li>
<li><a href="#已修复内容汇总">已修复内容汇总</a><ul>
<li><a href="#实验室检测报告表">实验室检测报告表</a></li>
<li><a href="#商标纸卡不干贴表">商标纸卡不干贴表</a></li>
<li><a href="#辅料表">辅料表</a></li>
<li><a href="#面料花边表">面料花边表</a></li>
<li><a href="#任务列表界面">任务列表界面</a></li>
<li><a href="#系统配置">系统配置</a></li>
<li><a href="#报表统计">报表统计</a></li>
</ul>
</li>
<li><a href="#待修复问题汇总">待修复问题汇总</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>

<hr></div><div id="wmd-preview-section-5441" class="wmd-preview-section preview-content">

<h2 id="注意">注意</h2>

<ul><li><strong>任务创建时材料名称和供应商请用鼠标点击输入框后再输入文字进行搜索，否则会出现删除不掉文字的情况</strong></li>
<li><strong>如有搜索不到的材料名称或者供应商，请直接联系王主管解决</strong></li>
<li><strong>已修复的内容也可能仍然存在问题，一旦发现请及时与工程师或者王主管沟通</strong></li>
<li><strong>由于时间紧张和新系统初期问题较多，部分已反映问题可能没有在本次更新解决，但是最严重影响使用的问题基本都已经解决，次严重问题会放到下次更新修正，详情查看最下方「待修复问题汇总」</strong></li>
<li><strong>已反馈的问题此次更新没有修复并且没有存在于「待修复问题汇总」列表，请再次提醒工程师修复</strong></li>
<li><strong><code>新系统刚刚做好雏形，难免存在各种问题，为了让各位检验员使用更方便、快捷、准确，不仅需要工程师们的努力，更重要的是大量的测试和反馈沟通，因此麻烦大家耐心多多使用本系统并且及时反馈问题，谢谢合作。</code></strong></li>
</ul>

<hr></div><div id="wmd-preview-section-4036" class="wmd-preview-section preview-content">

<h2 id="已修复内容汇总">已修复内容汇总</h2>

</div><div id="wmd-preview-section-4037" class="wmd-preview-section preview-content">

<h3 id="实验室检测报告表">实验室检测报告表</h3>

<ul><li>检测结果更正为两格</li>
</ul>

</div><div id="wmd-preview-section-4038" class="wmd-preview-section preview-content">

<h3 id="商标纸卡不干贴表">商标纸卡不干贴表</h3>

<ul><li>保存或提交后数据丢失或乱序问题修复</li>
<li>页面上添加检验总数汇总数量</li>
<li>主吊牌，检验数自动为实测值的10%，四舍五入</li>
<li>实测数=检验数=合格数，合格数和检验数互换位置，合格数修改其他不自动修改</li>
</ul>

</div><div id="wmd-preview-section-5718" class="wmd-preview-section preview-content">

<h3 id="辅料表">辅料表</h3>

<ul><li>辅料表右上角新增快速创建任务，可以加快录入时货号色号频繁切换导致的频繁创建任务的问题</li>
<li>皮标单位新增克</li>
<li>勾袢、胸花、胶骨、钢托 实现自动计算皮标1后的实测值</li>
<li>辅料表添加「长/宽」自定义列，长宽2个标准值，各3个实测值，一共八个值</li>
<li>辅料表根据最新表格新增若干列</li>
</ul></div><div id="wmd-preview-section-5927" class="wmd-preview-section preview-content">

<h3 id="面料花边表">面料花边表</h3>

<ul><li>面料表去掉手揉和自然收缩率</li>
<li>面料表增加渐变色差</li>
<li>面料表部分输入中文格子太小不能显示多行的问题修复</li>
<li>扭斜角、对称性写成小于等于的形式</li>
</ul></div><div id="wmd-preview-section-4041" class="wmd-preview-section preview-content">

<h3 id="任务列表界面">任务列表界面</h3>

<ul><li>修复任务管理页面删除任务失败总是失败的问题</li>
<li>修复了材料模糊查询时查不到已有材料的问题</li>
<li>任务删除增加提醒确认</li>
</ul>

</div><div id="wmd-preview-section-4042" class="wmd-preview-section preview-content">

<h3 id="系统配置">系统配置</h3>

<ul><li>供应商配置界面可以不输入供应商代码</li>
</ul>

</div><div id="wmd-preview-section-4043" class="wmd-preview-section preview-content">

<h3 id="报表统计">报表统计</h3>

<ul><li>增加主吊牌工时计算</li>
</ul>

<hr>

</div><div id="wmd-preview-section-6022" class="wmd-preview-section preview-content">

<h2 id="待修复问题汇总">待修复问题汇总</h2>

<ul><li>辅料表可能出现的保存数据丢失的情况，若再次发生请记录已填写数据并反馈给工程师</li>
<li>实验室检测报告标准值两格改为一格</li>
<li>除正品勾袢之外其他勾袢自动添加大小，正品勾袢只有大</li>
<li>管理员可修改已提交数据</li>
<li>到料总数单位配置界面</li>
<li>供应商报表不刷新内容</li>
<li>面料表自动判定，结论默认正常</li>
<li>根据检验员身份每张表步骤选择默认为检验员填写</li>
<li>物料名称或者供应商不点击输入框直接输入之后无法删除</li>
</ul></div><div id="wmd-preview-section-4057" class="wmd-preview-section preview-content"></div><div id="wmd-preview-section-footnotes" class="preview-content"></div></div></body></html>